@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

a {
  @apply text-blue-600 hover:text-blue-800;
}

html,
body {
  padding: 0;
  margin: 0;
}

.card {
  @apply mb-5 block rounded-lg border border-gray-200 shadow-md;
}

.primary-button {
  @apply rounded bg-amber-300 py-2 px-4 shadow outline-none hover:bg-amber-400 active:bg-amber-500 disabled:bg-gray-100;
}

.default-button {
  @apply rounded bg-gray-100 py-2 px-4 shadow outline-none hover:bg-gray-200 active:bg-gray-300;
}

input,
select,
textarea {
  @apply rounded border p-2 outline-none ring-indigo-300 focus:ring;
}

.dropdown-link {
  @apply flex p-2 hover:bg-gray-200;
}

.alert-error {
  @apply my-3 rounded-lg bg-red-100 p-3 text-red-700;
}

.alert-success {
  @apply my-3 rounded-lg bg-green-100 p-3 text-green-700;
}

.carousel {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
}

.carousel-content {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  transition: transform 0.5s ease;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: #333;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.carousel-button:hover {
  opacity: 0.7;
}

.carousel-item {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.carousel-item.active {
  opacity: 1;
}

.carousel-item__image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.carousel-item__text {
  margin-top: 10px;
  font-size: 16px;
}
